.extra-det-wrap {
  width: 100%;
  background-color: wheat;
  border-radius: 15px;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0px 1px 8px #80808073;
}

.extra-det-header {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
}