#splash-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
  border: .5px solid black;
  border-radius: 10px;
  padding: 25px;
}

#splash-content-wrap>* {
  padding: 2.5px;
  margin: 2.5px 0px;
}

#splash-content-wrap h1,
#splash-content-wrap h3 {
  margin: 0px;

  width: 100%;
}

#splash-content-wrap p {
  margin: 15px 0px;
}

.create-acct-btn {
  text-decoration: none;
  background-color: rgb(101 116 255 / 99%);
  box-shadow: 0px 2px 6px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 0px 10px !important;
  color: white;

  border: 3px solid rgb(101 116 255 / 99%);

  transition: all .2s ease-in-out;
}

.create-acct-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(101 116 255 / 99%);
  border: 3px dotted rgb(101 116 255 / 99%);
}

.create-acct-btn {}