.App {
  height: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.loading-wrap {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;

  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-bar-wrap {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid black;
  border-radius: 5px;

  padding: 5px;
}